


@media screen and (max-width: 600px){
  thead{
    display: none;
  }

  td{
    display: block;
  }

  td:first-child{
    background-color: #333;
    color: #fff;
    text-align:center;
  }
  
  td:nth-child(2)::before{
    content: "Date";
  }

  td:nth-child(3)::before{
    content: "Time_Slot";
  }

  td:nth-child(4)::before{
    content: "  Location";
  }

  td:nth-child(5)::before{
    content: "Vaccin";
  }

  td:nth-child(6)::before{
    content: "Medecin";
  }

  td{
    text-align: right;
  }

  td::before{
    float: left;
    margin-right: 3rem;
    font-weight: bold;
  }
}