body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url(back.jpg);
	background-size: cover;

}
option{
	color: #1b1b1b;
}
.box
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width:400px;
	padding: 40px;
	background: rgba(0,0,0,.8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
	border-radius: 10px;
}
.box h2
{
	color: #fff;
	margin: 0;
	padding: 0 0 30px;
	text-align: center;
}
.box .inputBox
{
	position: relative;
}
.box .inputBox input
{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	outline: none;
	border-bottom: 1px solid #fff;
	background: transparent;
}

.box .inputBox select
{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	outline: none;
	border-bottom: 1px solid #fff;
	background: transparent;
}

.box .inputBox input:focus,
.box .inputBox input:valid
{
	border-bottom: 1px solid #085a6e;
}
.box .inputBox label
{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: .5s;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label
{
	top: -18px;
	left: 0;
	color: #085a6e;
	font-size: 12px;
	font-weight: bold;
}
.box input[type="submit"]
{
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background: #085a6e;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
}

@media (max-width: 920px) {
 
	
	.cont{
	
	  display: flex;
	  flex-direction: column;
	  height: auto;
	  margin: 0;
	  display: grid;
	  grid-template-columns: repeat(auto-fit,minmax(310px,1fr));
	  grid-gap: 0;
	  padding:0;
	  box-sizing: border-box;
  box-shadow: none;
  max-width: 100%;
  
  
  align-items: center;
	 }
  
	.cont div{
	  
	  width: 90%;
	  font-size: 20px;
	  font-weight: 200;
	 
	}
	.cont .box{
	  
	margin-top: 30px;
	 
	}
  }
  
  
  
  .cont{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;  
	background-size: cover;
	transform: translate(-50%, -50%);  
	text-align: center;
	z-index: -1;
	width: 100%;
	padding: 0 30px;
	color: #1b1b1b;
  }
  .conten{
   position: absolute;
	z-index: -1;
   
  }
  .cont div{
	font-size: 20px;
	font-weight: 400;
  }
  